
.App {
  max-width: 800px;
  margin:auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  padding: 2% 2%;
}

.create-group {
  text-align: center;
}
.header{
  text-align: center;
}
.bordered-box-form {
  text-align: center;
  padding: 2% 21%;
  border: 2px solid black;
}
.agent-name .first-name{
  margin-top: 4%;
}
.agent-name  .surname{
  margin-top: 4%;
}

.error-message{
  color: red;
}
.terms-and-conditions{
  font-weight: bolder;
  margin-top: 10%;
}
.footer{
  text-align: center;
}

.next-button{
  background-color: green;
  padding: 2% 18%;
  color: #fff;
  border-radius: 5px;
}

.stepper {
  text-align: center;
  /* margin-bottom: 5%; */
  margin: auto;
}
.next-buttons{
  background-color: green;
  width: 100%;
  padding: 2% 18%;
  color: #fff;
  border-radius: 5px;
  margin-top: 3%;
}
